*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-1: rgb(27, 107, 90);
  --color-2: rgb(38, 150, 126);
  --color-3: rgb(211, 209, 209);
  --color-4: #fefefe;
}

body {
  background-color: var(--color-3);
  font-size: 16px;
  /* font-family: 'Oswald', sans-serif; */
}

.header {
  /* height: 5em; */
  padding: 1em;
  background-color: var(--color-1);
  color: var(--color-4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* --- MENU ------------------------------------------------------------------------------------- */
.header-menu {
  height: 100%;
  display: flex;
  flex-direction: row;
  font-size: medium;
  position: relative;
  list-style: none;
}

.drop-menu-button,
.menu-logout-button,
.header-menu a {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-4);
  display: block;
  padding: 0.5em;
  height: 100%;
}

.menu-logout-button:hover,
.drop-menu-button:hover,
.header-menu a:hover {
  background-color: var(--color-2);
}

.menu-logout-button {
  background-color: transparent;
  border: 0;
  /* font-weight: 600; */
  font-size: 1em;
}

/* --- drop down menu --------------------------------------------------------------------------- */
/* .container-drop-menu {
  position: relative;
} */

.hidden-menu {
  display: none;
}

.dropdown-menu {
  list-style: none;
  position: absolute;
  background-color: #777;
  z-index: 2;
  left: 0;
  width: 100%;
}

/* --- GENERIC STYLE ---------------------------------------------------------------------------- */
.body {
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.container {
  background-color: var(--color-4);
  padding: 1.5em;
  border-radius: 10px;
  width: 95%;
  max-width: 550px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 5px 22px -4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 5px 22px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 22px -4px rgba(0, 0, 0, 0.5);
}

.danger,
.success {
  width: 100%;
  font-size: 1em;
  margin-bottom: 0.5em;
  padding-left: 0.5em;
}

.success {
  color: var(--color-2);
}

.danger {
  color: rgb(194, 0, 0);
}

@media screen and (min-width: 900px) {
  .body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1.5em;
  }

  .operation-form {
    margin-right: 4em;
    position: sticky;
    top: 2em;
  }
}